<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Docenti</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</head>
<body>

    <nav class="navbar navbar-dark bg-info">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='graduation-cap-png.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            Gestione universitaria > </a>
        <a href="{{ url_for('teacher.teacherPage') }}" class="navbar-brand">Profilo Insegnante ></a>
        <a href="{{ url_for('teacher.visualizzaCorsi') }}" class="navbar-brand">Corsi tenuti ></a>
        <a href="#" class="navbar-brand">Elenco docenti</a>
        <a class="navbar-brand ml-auto"> </a>

        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="{{ url_for('teacher.visualizzaCorsi') }}">Visualizza Corsi</a>
          <a href="{{ url_for('teacher.visualizzaAppelli') }}">Visualizza Appelli</a>
          <a href="{{ url_for('teacher.visualizzaProveGestite') }}">Visualizza Prove Gestite</a>
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>

        <div id="main" style="padding: 0px;">
          <button class="btn btn-info" onclick="openNav()">&#9776; Menu</button>
        </div>
    </nav>

    <div class="p-3 mb-2 m-5  containergrigio">
    <div class="container p-3">

    <h2>Elenco Docenti</h2>
    <hr style="width: 75%" class="ml-1">

    <ul class="list-group" style="width: 75%">
        {% for docente in docenti %}
            <li class="list-group-item">{{ docente.name  ~ ' ' ~  docente.surname }}</li>
        {% endfor %}
    </ul>

    <div class="mt-4">
        <!-- Pulsante per aggiungere un docente -->
        <a href="{{ url_for('teacher.ricercaDocente', codEsame=codEsame) }}" class="btn btn-danger">Ricerca Docente</a>

        <br>
        <!-- Pulsante per tornare alla Pagina Principale -->
        <a href="{{ url_for('teacher.teacherPage') }}" class="btn btn-outline-secondary my-3">Torna alla Pagina Principale</a>
    </div>
    </div>
    </div>

<!-- Bootstrap JS e le sue dipendenze -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- JavaScript aggiuntivo per personalizzazioni -->
<script>
    // Esempio di JavaScript aggiuntivo
    // Puoi aggiungere qui logiche interattive specifiche se necessario
</script>

</body>
</html>
